<div class="preview">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{item.studyDestSchema}}</mat-card-title>
      <mat-card-subtitle>{{item.studySource}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content *ngIf="!item.collapesd">
      <p>
        {{item.running}}
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptates minus deserunt aut, sit
        quo enim debitis minima culpa facilis repellendus obcaecati. Ullam assumenda ducimus reprehenderit
        praesentium
        similique, quis quidem?
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button  *ngIf="!item.collapesd" mat-button>HIDE</button>
      <button  *ngIf="item.collapesd" mat-button>MORE</button>
    </mat-card-actions>
  </mat-card>
</div>
