<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list style="padding: 0 0;">
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.toggle()" ariaCurrentWhenActive="page">Startseite</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.toggle()" ariaCurrentWhenActive="page">Über das Tool</a>
      <a mat-list-item  (click)=" sidenav.toggle()">Sitzung erneuen</a>
      <a mat-list-item  (click)="sidenav.toggle(); logout()">Abmelden</a>
      <a mat-list-item (click)="sidenav.toggle()">Schließen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <span >Snapshot Tool</span>
      <span ></span>
    </mat-toolbar>
    <main fullscreen >
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
