.container {
  padding: 24px;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  gap: 24px;
}

img {
  width: 100%;
  height: 250;
  object-fit: contain;
}

.card{
  cursor: pointer;
}
.card:hover {
  transform: scale(2.05);
}

.content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
